<!--
  ~ dicom-query-retrieve: view.html
  ~ XNAT http://www.xnat.org
  ~ Copyright (c) 2005-2020, Washington University School of Medicine
  ~ All Rights Reserved
  ~
  ~ Released under the Simplified BSD.
  -->

<!-- #*
<%@ page contentType="text/html" pageEncoding="UTF-8" trimDirectiveWhitespaces="true" %>
*# -->
<!-- #* <%--
The 'view.html' file should be formatted so it can be
included and parsed in both JSP and Velocity parent pages.
--%> *# -->

<link href="${SITE_ROOT}/style/dqr/dqr.css" rel="stylesheet">

<header id="content-header">
    <h2>Import Studies from PACS</h2>
    <div id="select-pacs-menu-container" class="padded-block">
        <div class="pull-left">
            <label for="select-pacs"><b>Source PACS:</b></label>
            <select id="select-pacs" style="min-width:200px;">
                <option value="" disabled selected>Select PACS&hellip;</option>
            </select>
            <script>
                // menuInit($('#select-pacs'), {}, 200);
            </script>
        </div>
        <div class="pull-left" id="pacs-status-indicator" style="padding: 4px 10px"></div>
        <div class="pull-right" id="scp-receiver-selector"></div>
        <div class="clearfix clear"></div>
    </div>
</header>

<div id="pacs-import-search">

    <!-- Panel for search form, CSV import, and search results table -->
    <div class="panel panel-default">
        <div class="panel-heading" style="color:inherit;background:#e0e0e0;line-height:26px;">
            <a id="import-csv" class="link pull-right" href="#!"><button class="btn"><i class="fa fa-table"></i> Search Via CSV</button></a>
            <h3 class="panel-title pull-left" style="font-size:16px;">Enter Search Criteria</h3>
            <div class="clearfix clear"></div>
        </div>
        <div class="panel-body" style="background:#f0f0f0;">

            <form id="pacs-search-fields">
                <div class="seach-field-container pull-left" style="max-width: 720px">
                    <div class="pacs-search-item pull-left">
                        <b>Accession Number</b>
                        <input type="text" name="accessionNumber" placeholder="All" tabindex="1">
                    </div>
                    <div class="pacs-search-item pull-left">
                        <b>Patient Name</b>
                        <input type="text" name="patientName" placeholder="Last, First" data-format="last-first" tabindex="1">
                    </div>
                    <div class="pacs-search-item pull-left">
                        <b>Patient ID</b>
                        <input type="text" name="patientId" placeholder="All" tabindex="1">
                    </div>
                    <!--<div class="pacs-search-item pull-left">-->
                        <!--<b>Study Description</b>-->
                        <!--<input type="text" name="studyDescription" placeholder="All" tabindex="1">-->
                    <!--</div>-->
                    <div class="pacs-search-item pull-left">
                        <b>Date Range</b>
                        <label id="study-date-from-container">
                            <input type="text" class="study-date mono" id="study-date-from" name="studyDateFrom" size="10" autocomplete="off" tabindex="1" placeholder="YYYY-MM-DD">
                        </label>
                        -
                        <label id="study-date-to-container">
                            <input type="text" class="study-date mono" id="study-date-to" name="studyDateTo" size="10" autocomplete="off" tabindex="1" placeholder="YYYY-MM-DD">
                        </label>
                        <!--                    <button class="ignore btn btn-sm" type="button" id="study-date-today" name="!studyDateToday">Today</button>-->
                    </div>
                </div>

                <div id="pacs-search-submit" class="pacs-search-item pull-right" style="min-width: inherit">
                    <b>&nbsp;</b>
                    <button type="submit" class="btn btn1 ignore" id="submit-pacs-search">Search PACS</button>
                </div>
            </form>
            <script>
                $('#pacs-search-fields').on('submit', function(e){
                    e.preventDefault();
                    e.stopPropagation();
                    $('#submit-pacs-search').triggerHandler('click');
                });
            </script>

            <div class="clearfix clear"></div>

            <hr>

<!--            <template id="no-search-results" style="display:none;">-->
<!--                <div class="message">-->
<!--                    Query the PACS using the form above or by importing a CSV file containing your search criteria. The search results will be displayed here.-->
<!--                </div>-->
<!--            </template>-->

            <div id="pacs-search-results" class="table-group-container">
                <div id="pacs-query-msg">
                    <div class="message">
                        Query the PACS using the form above or by importing a CSV file containing your search criteria.
                        The search results will be displayed here.
                    </div>
                </div>
                <div id="pacs-no-results" class="hidden">
                    <div class="error">
                        There were no matches to your PACS search query. Please modify your search values or upload a CSV
                        with search criteria and try again.
                    </div>
                </div>
                <div class="results-header"></div>
                <div class="results-body"></div>
                <div class="results-submit"></div>
            </div>

            <!-- immediately insert the default 'no results' message -->
            <script>$('#pacs-no-results').html($('#no-search-results').html())</script>

        </div>
    </div>

    <link href="${SITE_ROOT}/scripts/lib/air-datepicker/dist/css/datepicker.min.css" rel="stylesheet">
    <script src="${SITE_ROOT}/scripts/lib/air-datepicker/dist/js/datepicker.min.js"></script>
    <script src="${SITE_ROOT}/scripts/lib/air-datepicker/dist/js/i18n/datepicker.en.js"></script>

</div>

<!-- #* <%-- the #[[ ... ]]# syntax prevents Velocity from parsing the enclosed code --%> *# -->
<!-- #[[ -->
<script>
    // use of $ in $varname is ok inside #[[ ... ]]#
    window.$nothing = '';
</script>
<!-- ]]# -->

<!--<script src="${SITE_ROOT}/scripts/xnat/plugin/dqr/selectableItems.js"></script>-->
<!--<script src="${SITE_ROOT}/scripts/xnat/plugin/dqr/filterableItems.js"></script>-->
<script src="${SITE_ROOT}/scripts/xnat/plugin/dqr/import.js"></script>
