/*
 * dicom-query-retrieve: dqr.css
 * XNAT http://www.xnat.org
 * Copyright (c) 2005-2020, Washington University School of Medicine
 * All Rights Reserved
 *
 * Released under the Simplified BSD.
 */

@CHARSET "ISO-8859-1";

.pacs-warning,
.receiver-warning {
    color: #933;
    cursor: pointer;
    display: inline-block;
    padding-top: 4px;
}

.padded-block {
    border: 1px solid #e0e0e0;
    background: #f7f7f7;
    margin: 1em 0;
    padding: 12px 16px;
}

#pacs-search-fields {
    width: 100%;
}

.pacs-search-item {
    display: block;
    min-width: 170px;
    float: left;
}

.pacs-search-item b {
    display: block;
    font-weight: normal;
    margin: 8px 2px;
}

#pacs-search-results input.relabel {
    width: 90%;
}

#pacs-search-results div.results-body tr:hover {
    cursor: pointer
}

.breakspace {
    white-space: pre-wrap; /* fallback for older browsers */
    white-space: break-spaces;
}

table.pacsSessionSearchResults thead input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

table.pacsSessionSearchResults tbody td .rowDetailsExpander {
    cursor: pointer;
}

table.pacsSessionSearchResults tbody td.rowDetailsExpanding {
    background-color: #f0f0f0;
}

table.pacsSessionSearchResults tbody td.rowDetailsExpanded {
    background-color: #f0f0f0;
    text-align: left;
}

/* From PacsSeriesFinder.css */
table.pacsSeriesSearchResults {
    width: 100%;
}

table.pacsSeriesSearchResults thead th {
    border-bottom: none;
    text-align: left;
    font-weight: normal;
}

/* From PacsAdministration.css */
#pacsTable p { margin: 3px 0 }
#pacsTable td p:first-of-type { margin-top: 0 }
#pacsTable td p:last-of-type { margin-bottom: 0 }

/* override datatable.css */
.dataTables_length {
    margin-bottom: 1em;
}

.paginate_disabled_previous, .paginate_enabled_previous,
.paginate_disabled_next, .paginate_enabled_next {
    background: none;
}
.paginate_disabled_previous:before, .paginate_enabled_previous:before,
.paginate_disabled_next:after, .paginate_enabled_next:after {
    font-family: "FontAwesome";
    content: "\f053";
    display: inline-block;
    margin: 0 4px;
    width: 1em;
}
.paginate_disabled_next:after, .paginate_enabled_next:after {
    content: "\f054";
}
.paginate_disabled_previous:before, .paginate_disabled_next:before {
    color: #f0f0f0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 3px 7px;
}

body button.ui-datepicker-trigger {
    font-size: 12px;
    margin-left: 3px;
    padding: 3px 6px;
}

/* enforce cell width */
.xnat-table td.max200 {
    max-width: 200px;
    word-wrap: break-word;
}
.xnat-table td.max180 {
    max-width: 180px;
    word-wrap: break-word;
}
.xnat-table td.max120 {
    max-width: 120px;
    word-wrap: break-word;
}

/* schedule UI */

#pacs-schedule-view {
    width: 1073px;
}

#pacs-schedule-view > .pad {
    padding: 20px; overflow: auto;
}

#pacs-schedule-view .time-block {
    cursor: pointer;
    display: inline-block;
    /*margin-right: 1px;*/
    overflow: visible;
    position: relative;
}

#pacs-schedule-times,
#pacs-schedule-days {
    position: relative;
}

.day-row {
    margin-bottom: 10px;
    /*border-collapse: collapse; */
}

.day-row .day-label b {
    display: block;
    width: 50px;
    font-size: 16px;
    font-weight: normal;
    line-height: 50px;
    vertical-align: middle;
    background: #fff;
}

.day-row .day-hours {
    position: relative;
    /*padding: 2px 1px 2px 2px;*/
    /*overflow: auto;*/
    /*background: rgba(171, 226, 255, 0.5);*/
    background: #f0f0f0;
    border-right: 1px solid #acd2e6;
}

.day-row .time-block {
    position: absolute;
    /*float: left;*/
    /*margin-right: 1px;*/
}

.day-row .time-block-color {
    /*min-width: 38px;*/
    height: 50px;
    background: #5cc4ef;
    border: 1px solid #acd2e6;
    border-right: none;
    margin-left: -1px;
}

.day-row .thread-count {
    position: absolute;
    top: 5px;
    left: 5px;
    white-space: nowrap;
    z-index: 2;
    padding: 2px 8px 1px;
    background: #15629D;
    color: #fff;
    border-radius: 16px;
    border: 1px solid #075087;
    font-size: 12px;
}

/*.day-row .time-block:hover .thread-count,*/
.day-row .thread-count:hover {
    z-index: 3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.day-row .thread-count > span {
    display: none;
}

/*.day-row .time-block:hover .thread-count > span,*/
.day-row .thread-count:hover > span {
    display: inline;
}

.day-row .add-interval {
    padding: 15px 0 0 5px;
}

.day-row .add-interval:hover {
    cursor: pointer;
}

.day-row .add-interval i.fa {
    font-size: 24px;
    color: #228822;
}

.hours-label-row {
    width: 1050px;
    position: relative;
    left: -20px;
    margin: 10px 0;
    /*border-collapse: collapse; */
}

.hours-label-row .day-label b {
    display: block;
    width: 50px;
    height: 20px;
    font-weight: normal;
}

.hours-label-row .time-block {
    margin-right: 1px;
}

.hours-label-row .time-block-label {
    width: 38px;
    height: 20px;
    background: #fff;
    text-align: center;
}

.dicom-web {
    display: none;
}