#* @vtlvariable name="displayManager" type="org.nrg.xdat.display.DisplayManager" *#
#* @vtlvariable name="data" type="org.apache.turbine.util.RunData" *#
#* @vtlvariable name="turbineUtils" type="org.nrg.xdat.turbine.utils.TurbineUtils" *#
#* @vtlvariable name="siteConfig" type="org.nrg.xdat.preferences.SiteConfigPreferences" *#
#* @vtlvariable name="content" type="org.apache.turbine.services.pull.tools.ContentTool" *#

#set ($SITE_ROOT = $content.getURI(""))
#set ($projectId = $project.getId())
#set ($userHelper = $data.getSession().getAttribute("userHelper"))

#set ($subjectDisplay = "$!displayManager.getSingularDisplayNameForSubject()")
#set ($sessionDisplay = "$!displayManager.getSingularDisplayNameForImageSession()")
<script>
    window.subjectDisplay = '$!subjectDisplay' || 'Subject';
    window.sessionDisplay = '$!sessionDisplay' || 'Session';
    window.subjectDisplayLower = window.subjectDisplay.toLowerCase();
    window.sessionDisplayLower = window.sessionDisplay.toLowerCase();
</script>

#if (!$projectId)
    #set ($projectId = $turbineUtils.escapeHTML($!data.getParameters().getString('project')))
#end

#set ($pacsId = $!turbineUtils.escapeHTML($!data.getParameters().getString('pacs')))
#set ($pacsLabel = $!turbineUtils.escapeHTML($!data.getParameters().getString('label')))
<script>
    window.projectId = '$!{projectId}';
    window.selectedPacs = '$!{pacsId}';
    window.pacsId = window.selectedPacs;
    window.pacsLabel = '$!{pacsLabel}';
</script>

#set ($isAllowed = false)

#if ($user.checkRole("Administrator"))

    #set ($isAllowed = true)

    <script>window.isAllowed = true</script>

    <div id="page-body" class="hidden">
        <div class="pad">

            #parse("/page/dqr/schedule/view.html.jsp")

        </div>
    </div>


#else

    <div class="error">Not authorized. Redirecting...</div>
    <script>
        window.setTimeout(function(){
            window.location.href = '${SITE_ROOT}/'
        }, 2000)
    </script>

#end